*~
*.DS_Store
*.log
*.cookie
log
*~

# XCode noise
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
ff

# IDEA files
.idea/*
*.iml
deps
out
# erlang binaries and release

fyler/*
ebin/
*.beam
.eunit
*.dump

# other repos

apps/http_file/
apps/ulitos/
