%% -*- mode: Erlang; -*-
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, [
  "rel",
  "apps/fyler"
]}.
{require_otp_vsn, "17"}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {mimetypes, ".*",{git,"https://github.com/spawngrid/mimetypes.git",{branch,"master"}}},
  {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git"},"master"},
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git","master"}},
  {ulitos, ".*", {git, "https://github.com/palkan/ulitos.git", {tag, "v0.2.0"}}},
  {epgsql,".*",{git, "https://github.com/wg/epgsql.git", {branch,"master"}}},
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git",{branch,"master"}}}
]}.
{erl_opts, [debug_info, {i, "apps"}, warn_unused_vars, {parse_transform, lager_transform}]}.
{pre_hooks, [
  {compile, "./scripts/gen_handlers_list.erl"}
]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [
  no_tty,
  {report,{eunit_progress, [colored, profile]}}]}.


