[
  {kernel,[
    {inet_dist_listen_min, 9100},
    {inet_dist_listen_max, 9115}
  ]},
  {sasl, [{sasl_error_logger, false}]},
  {fyler, [
    {category, video},
    {max_active, 1}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
      {lager_file_backend, [{file, "log/info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}, {size, 524288}, {date, "$D0"}, {count, 5}]},
      {lager_file_backend, [{file, "log/warning.log"}, {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
    ]},
    {crash_log, "log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}
  ]}
].

